<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <br>
    <h1 style="text-align:center">자유롭게 글을 쓸 수 있는 페이지입니다!</h1>

    <ul class="nav justify-content-center">
        <li class="nav-item">
        <a class="nav-link active" href="{% url 'home' %}">글보기</a>
        </li>
        <li class="nav-item">
        <a class="nav-link" href="{% url 'new' %}">글쓰기</a>
        </li>
        <li class="nav-item">
        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
        </li>
    </ul>

    <br>
    <div class="container">
	<form action="{% url 'create' %}">
	  <h4>제목: </h4>
	  <input type="text" name="title" style="width: 30rem;">
	  <br>
	  <br>
	  <h4>본문: </h4>
	  <textarea cols=40 rows=10 name="body" style="width: 50rem;"></textarea>
	  <br>
	  <br>
	  <input class="btn btn-primary" type="submit" value="제출하기">
    </form>
    </div>
</body>